<footer class="footer">
<small>
<a href="http://www.chezzyk.com/">Chesnowitz Media is a division of Chezzy K Inc.</a>
<a>Riding the Rails in Canada</a></a>
</small>
<nav>
<ul>
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Contact", contact_path %></li>
<li><a>More stuff can go here</a></li>
</ul>
</nav>
</footer>